body{
    background-image: url("../../img/background.jpg");
    background-size: cover;
}

.home-container{
    margin-top: 50px !important;
}

.home-title{
    font-family: 'Black Italic' !important;
    color: $white;
}

.home-button{
    background-color: $blue !important;
    font-family: 'Regular' !important;
    font-size: 16px !important;
    color: $darkest-blue !important;
    padding: 15px;
    border-radius: 20px;
}

.blue-word{
    color: $blue !important;
}