.questions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
    font-family: "Regular" !important;
    color: $white !important;
}

.question-title{
    font-family: "Black Italic" !important;
    color: $white !important;
    border-bottom: 3px $blue solid;
    width: 50%;
    font-size: 40px !important;
}

.question-font{
    font-family: "Black Italic" !important;
    color: $white !important;
}

.answers-btn:hover{
    background-color: $blue-hover !important;
}

.answers-btn:active{
    background-color: $blue-active !important;
}

.subanswers-btn{
    border: 1px solid $dark-blue !important;
    margin-top: 50px;
    padding: 10px;
    font-size: 16px !important;
}

.subanswers-btn:hover{
    background-color: $blue-hover !important;
}

.subanswers-btn:active{
    background-color: $blue-active !important;
}

.nextq-btn{
    background-color: $dark-blue !important;
    border: 2px solid $blue !important;
    margin-top: 50px;
    padding: 10px 100px !important;
    font-size: 16px !important;
    font-family: Regular;
}

.nextq-btn:hover{
    background-color: $darkest-blue !important;
}

.nextq-btn:active{
    background-color: $blue !important;
}

.checkbox-questions{
    display: flex !important;
    justify-content: end !important;
    text-align: left !important;
}

.chooseq-btn{
    background-color: $blue !important;
    border-radius: 20px !important;
    padding: 15px!important;
    font-size: 12px !important;
    font-family: "Bold";
    color: $white !important;
}

.chooseq-btn:hover{
    background-color: $blue-hover !important;
}

.chooseq-card{
    background-color: $dark-blue;
    border: 1px $blue solid;
    border-radius: 10px !important;
    height: 20rem !important;
}

.chooseq-card-header{
    font-family: "Regular" !important;
    color: $white !important;
    background-color: $blue !important;
}

.chooseq-row{
    margin-top: 50px !important;
    background-color: transparent !important;

}

.chooseq-title{
    font-family: "Bold" !important;
    text-align: center !important;
    color: $white !important;
    font-size: 26px !important;
}

.chooseq-p{
    font-family: "Regular" !important;
    text-align: center !important;
    color: $white !important;
    padding: 20px !important;
}