.p-testimonials{
    color: $white;
    font-family: 'Regular';
}

.h5-testimonials{
    color: $white;
    font-family: 'Bold';
}

.h6-testimonials{
    color: $blue;
    font-family: 'Regular';
}

.home-grid-testimonials{
    margin: 0px 250px 0 250px !important;
    padding-top: 100px !important;
}

@media only screen and (max-width: 767px) {
    .home-grid-testimonials{
        margin: 0px 20px 0 20px !important;
        padding-top: 100px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .testimonials-container{
        padding: 0;
        margin: 0;
    }

    .home-grid-testimonials{
        margin: 0 50px;
        padding-top: 100px !important;
    }
}