@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: "Black Italic";
  src: url("../.././Fonts/InterTight/InterTight-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Thin";
  src: url("../.././Fonts/InterTight/InterTight-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Bold";
  src: url("../.././Fonts/InterTight/InterTight-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Regular";
  src: url("../.././Fonts/InterTight/InterTight-Regular.ttf") format("truetype");
}
.home-container {
  margin-top: 50px !important;
}

.home-title {
  font-family: "Black Italic" !important;
  color: #fff;
}

.home-subtitle {
  font-family: "Black Italic" !important;
  color: #fff !important;
  margin-top: 50px !important;
}

.home-button {
  background-color: #006cff !important;
  font-family: "Regular" !important;
  font-size: 16px !important;
  color: #090d2c !important;
  padding: 15px;
  border-radius: 20px;
}

.blue-word {
  color: #006cff !important;
}

.home-sectionblue-container {
  background-color: #10224a !important;
  padding: 150px 0;
  -webkit-mask: radial-gradient(var(--r1, 160%) var(--r2, 68.15%) at bottom, #fff 79.5%, transparent 80%) bottom left, radial-gradient(var(--r1, 160%) var(--r2, 68.15%) at top, transparent 79.5%, #fff 80%) bottom center, radial-gradient(var(--r1, 160%) var(--r2, 68.15%) at bottom, #fff 79.5%, transparent 80%) bottom right;
  mask: radial-gradient(var(--r1, 160%) var(--r2, 68.15%) at bottom, #fff 79.5%, transparent 80%) bottom left, radial-gradient(var(--r1, 160%) var(--r2, 68.15%) at top, transparent 79.5%, #fff 80%) bottom center, radial-gradient(var(--r1, 160%) var(--r2, 68.15%) at bottom, #fff 79.5%, transparent 80%) top right;
  -webkit-mask-size: 100% 160%;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 180%;
  mask-repeat: no-repeat;
}

.home-p {
  color: #fff !important;
  font-family: "Bold" !important;
  font-size: 25px !important;
}

.home-grid {
  margin: 0px 250px 0 250px !important;
  padding-top: 100px !important;
}

.home-trainingsession-container {
  background-color: #090d2c !important;
  padding-bottom: 150px !important;
  -webkit-mask: radial-gradient(var(--r1, 100%) var(--r2, 100%) at top, #fff 100%, transparent 100%), radial-gradient(var(--r1, 100%) var(--r2, 100%) at bottom, transparent 100%, #fff 100%), radial-gradient(var(--r1, 100%) var(--r2, 100%) at top, #fff 100%, transparent 100%);
  mask: radial-gradient(var(--r1, 100%) var(--r2, 100%) at top, #fff 100%, transparent 100%), radial-gradient(var(--r1, 100%) var(--r2, 100%) at bottom, transparent 100%, #fff 100%), radial-gradient(var(--r1, 100%) var(--r2, 100%) at top, #fff 100%, transparent 100%);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.home-training-first-row {
  margin-top: 100px !important;
}

.home-testimonials-container {
  background-color: #10224a !important;
  margin-top: -200px;
  margin-bottom: -100px !important;
  padding-bottom: 150px !important;
  z-index: -1 !important;
}

.home-subtitle-testimonials {
  font-family: "Black Italic" !important;
  color: #fff !important;
  margin-top: 50px !important;
  margin-top: 200px !important;
}

.home-carousel {
  margin-top: 200px !important;
  text-align: center !important;
}

.home-carousel-title {
  font-family: "Bold" !important;
  color: #fff !important;
  margin-top: 50px !important;
  text-align: center !important;
  position: relative !important;
  bottom: 60px !important;
}

.navbar-bg {
  background-color: transparent;
}

.navbar-container {
  margin: 0 250px !important;
}

.navbar-link {
  font-family: "Black Italic";
  color: #fff !important;
  font-size: 25px !important;
}

.navbar-link:hover {
  color: #006cff !important;
}

.navbar-link:active {
  color: #006cff !important;
}

.logo {
  position: relative;
  top: 80px;
}

.footer {
  background-color: #006cff !important;
  margin-top: 100px !important;
  padding: 50px !important;
}

.footer-title {
  font-family: "Bold";
  color: #090d2c !important;
  border-bottom: #fff 1px solid !important;
  font-size: 22px !important;
  width: 18%;
  padding-bottom: 15px !important;
  margin-bottom: 15px !important;
}

.footer-list {
  list-style: none !important;
  font-size: 18px !important;
}

.footer-link {
  color: #090d2c !important;
  text-decoration: none !important;
  font-family: "Regular" !important;
}

.footer-link:hover {
  color: #fff !important;
}

.footer-contact {
  font-size: 20px !important;
}

.footer-contact-at {
  font-size: 25px !important;
}

.footer-social-container {
  list-style: none !important;
  display: flex !important;
}

.footer-social {
  font-size: 20px !important;
  color: #090d2c !important;
  padding: 0px !important;
}

.footer-social:hover {
  color: #fff !important;
}

.footer-end {
  background-color: #000 !important;
  padding: 10px !important;
}

.footer-copyright {
  color: #fff !important;
  font-family: "Regular";
  font-size: 14px !important;
}

.footer-end-link {
  color: #fff !important;
  font-family: "Regular" !important;
  font-size: 14px !important;
  border-right: #fff solid 1px !important;
  text-align: center !important;
}

.footer-end-link:last-of-type {
  border-right: none !important;
}

.login-card {
  margin-top: 50px !important;
  background-color: transparent !important;
  color: #fff !important;
  font-family: "Regular";
  font-size: 14px !important;
}

.card-login-title {
  font-family: "Black Italic";
  font-size: 30px !important;
}

.btn-login {
  background-color: #006cff !important;
  color: #090d2c !important;
  width: 100% !important;
  font-size: 16px;
}

.login-input {
  font-size: 14px !important;
  background-color: #090d2c !important;
  color: #fff !important;
}

.login-link {
  color: #006cff !important;
}

.error-alert-login {
  font-size: 14px !important;
  font-family: "Regular";
  color: red !important;
}

.row-align-login {
  display: flex !important;
  align-items: center !important;
}

.progress-bar-container {
  height: 1rem;
}

.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  font-family: "Regular" !important;
  color: #fff !important;
}

.question-title {
  font-family: "Black Italic" !important;
  color: #fff !important;
  border-bottom: 3px #006cff solid;
  width: 50%;
  font-size: 40px !important;
}

.question-font {
  font-family: "Black Italic" !important;
  color: #fff !important;
}

.answers-btn:hover {
  background-color: #0056cc !important;
}

.answers-btn:active {
  background-color: #4091ff !important;
}

.subanswers-btn {
  border: 1px solid #10224a !important;
  margin-top: 50px;
  padding: 10px;
  font-size: 16px !important;
}

.subanswers-btn:hover {
  background-color: #0056cc !important;
}

.subanswers-btn:active {
  background-color: #4091ff !important;
}

.nextq-btn {
  background-color: #10224a !important;
  border: 2px solid #006cff !important;
  margin-top: 50px;
  padding: 10px 100px !important;
  font-size: 16px !important;
  font-family: Regular;
}

.nextq-btn:hover {
  background-color: #090d2c !important;
}

.nextq-btn:active {
  background-color: #006cff !important;
}

.checkbox-questions {
  display: flex !important;
  justify-content: end !important;
  text-align: left !important;
}

.chooseq-btn {
  background-color: #006cff !important;
  border-radius: 20px !important;
  padding: 15px !important;
  font-size: 12px !important;
  font-family: "Bold";
  color: #fff !important;
}

.chooseq-btn:hover {
  background-color: #0056cc !important;
}

.chooseq-card {
  background-color: #10224a;
  border: 1px #006cff solid;
  border-radius: 10px !important;
  height: 20rem !important;
}

.chooseq-card-header {
  font-family: "Regular" !important;
  color: #fff !important;
  background-color: #006cff !important;
}

.chooseq-row {
  margin-top: 50px !important;
  background-color: transparent !important;
}

.chooseq-title {
  font-family: "Bold" !important;
  text-align: center !important;
  color: #fff !important;
  font-size: 26px !important;
}

.chooseq-p {
  font-family: "Regular" !important;
  text-align: center !important;
  color: #fff !important;
  padding: 20px !important;
}

.modal-header {
  background-color: #006cff !important;
  color: #fff !important;
  font-family: "Bold" !important;
  border-color: #090d2c !important;
}

.modal-body {
  background-color: #10224a !important;
  color: #fff !important;
  font-family: "Regular" !important;
  border-color: #090d2c !important;
}

.modal-footer {
  background-color: #10224a !important;
  color: #fff !important;
  font-family: "Regular" !important;
  border-color: #090d2c !important;
}

.suggested-questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  font-family: "Regular" !important;
  color: #fff !important;
}

#star-rating {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #c9c900;
}

.off {
  color: #fff !important;
}

.star {
  font-size: 25px !important;
}

.qheader-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.qheader-title {
  font-family: "Bold" !important;
  color: #fff !important;
  font-size: 20px !important;
}

.loading-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none !important;
}

.loading-container img {
  height: 50px;
  animation: loader-logo 2000ms infinite;
}

@keyframes loader-logo {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(5);
  }
  100% {
    transform: scale(0);
  }
}
.spinner-loader {
  margin-left: 5px;
}

.popover-btn {
  border: 0.8px solid #fff;
  border-radius: 30px;
  font-size: 8px;
  padding: 0px 4px;
  background-color: transparent !important;
  margin-left: 3px;
  margin-right: 3px;
  font-family: "Regular";
  position: relative;
  bottom: 5px;
}

.popover-btn:hover {
  border: 1px solid #fff;
}

body {
  background-image: url("../../img/background.jpg");
  background-size: 100% !important;
}

ul {
  list-style: none !important;
}

/*# sourceMappingURL=style.css.map */
